/*
   _   _             
  | \ | | __ ___   __
  |  \| |/ _` \ \ / /
  | |\  | (_| |\ V / 
  |_| \_|\__,_| \_/  
Component                    
*/

.nav {
    background-color: #000;
    height: 50px;
    display: flex;
    border-bottom: solid 1px #222;
    border-width: thin;

    a {
        text-decoration: none;
        color: #777;
        list-style: none;
        font-weight: 500;
        white-space: nowrap;
        cursor: pointer;
    }

    a.active {
        color: #dc3545;
    }

    .logo {
        font-size: 2.1em;
        margin-right: 30px;
        margin-left: 30px;
        text-decoration: none;
        font-family: Fira Code;

        span {
            color: #dc3545;
            font-weight: 400;
            font-size: 0.9em;
            font-family: Fira Code;
            letter-spacing: 0.2rem;
        }
    }

    .nav_Links {
        display: flex;
        align-items: center;
        gap: 2em;

        a:first-of-type {
            margin-left: auto;
        }

        a:last-of-type {
            margin-right: auto;
        }

        #Search_Btn {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    form {
        display: flex;
        margin-left: auto;
        background-color: #777;

        .search {
            width: 180px;
            height: 20px;
            font-size: 1.1em;
            padding: 1em;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: #777;

            &::placeholder {
                color: #fff;
            }
        }

        // #Button {
        //     width: 40px;
        //     height: 37px;
        //     border-radius: 5px;
        //     border: none;
        //     outline: none;
        //     background-color: #777;
        //     color: #fff;
        // }
    }

    // #Avatar {
    //     margin-left: auto;
    //     padding-top: 5px;
    //     display: flex;
    //     align-items: center;

    //     #Avatar_Img {
    //         object-fit: fill;
    //         width: 35px;
    //         height: 35px;
    //         border-radius: 5px;
    //         margin-left: 20px;
    //         z-index: 1;
    //     }

    //     #Logout {
    //         background-color: #000;
    //         cursor: pointer;
    //         color: #777;
    //         outline: none;
    //         border: none;
    //         font-size: 1rem;
    //         font-weight: 500;
    //         padding-left: 1rem;
    //         margin-right: 30px;
    //     }
    // }
}
