.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(0deg, transparent, #0a0a0a84, #000);

    .nav {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: transparent;

        .nav__logo {
            font-size: 2rem;
            font-weight: bolder;
            background: #00abc0;
            color: #fff;
            padding: 0 1rem;
            border-radius: 0.3rem;
        }

        &__list {
            display: flex;
            gap: 2rem;
        }

        &__item {
            list-style: none;
        }

        &__logo,
        &__link,
        &__login-link {
            color: lightgray;
            text-decoration: none;
        }

        &__search {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            background: rgba(255, 255, 255, 0.501);
            padding: 0.65rem 1rem;
            border-radius: 1.5rem;

            &-label {
                margin: auto;
                width: 80%;
            }

            &-label {
                color: #fff;
            }

            &-icon {
                color: #fff;
                font-weight: normal;
            }

            &-input {
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                color: #fff;
            }

            ::placeholder {
                color: #ffffffb5;
            }
        }

        &__login {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            &-icon {
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
}
