@use "../utils/" as *;

.card__genre {
    width: 300px;
    padding: $mb-10;
    background-color: $clr-bg-med;
    color: $clr-txt-secondary;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 3;

    display: none;

    &-list {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        justify-content: space-between;
    }

    &-item {
        padding: 0.5rem;
        text-align: left;
        border-radius: 0.5rem;

        &:hover {
            background: rgb(31, 31, 31);

            .card__genre-name {
                color: $clr-primary;
            }
        }
    }
}
