/* Font size */
$fs-l: 3.2rem;
$fs-h1: 1.5rem;
$fs-h2: 1.25rem;
$fs-h3: 1.125rem;
$fs-body: 0.938rem;
$fs-sm: 0.813rem;
$fs-xsm: 0.75rem;

/* Font weight */
$fw-thin: 100;
$fw-light: 200;
$fw-reg: 400;
$fw-semi-bold: 600;
$fw-bold: 900;

/* z-index */
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/* Margins bottoms*/
$mb-025: 0.25rem;
$mb-05: 0.5rem;
$mb-075: 0.75rem;
$mb-10: 1rem;
$mb-15: 1.5rem;
$mb-20: 2rem;
$mb-25: 2.5rem;
$mb-30: 3rem;

/* Colors */

$clr-primary: #00acc1;

/* Background colors */

$clr-bg-dark: #0f120f;
$clr-bg-med: #212529;
$clr-container: #fff;

/* Text colors */

$clr-txt-primary: #f8f9fa;
$clr-txt-secondary: #959595;
$clr-txt-tertiary: #bbbbbb;

/* Button colors */

$clr-btn-bg-dark: #333940;
$clr-btn-txt-primary: #ced4da;
