@use "../utils/" as *;

.main {
    .movie {
        &__shelf-heading {
            font-size: 27px;
            font-weight: 500;
            color: #fff;
            margin: 1.5rem;
        }

        &__rows {
            display: grid;
            grid-template-columns: repeat(auto-fill, 160px);
            justify-content: center;
            gap: 2rem 1rem;
            margin: 1rem auto;
            padding: 1rem;
        }

        &__colls {
            &:hover {
                .card__info {
                    display: flex;
                }
            }
        }

        &__img {
            width: 100%;
            height: 230px;
            border-radius: 0.3rem;
            margin-bottom: $mb-075;
        }

        &__info {
            color: $clr-container;
            position: relative;

            &-title {
                margin-bottom: $mb-05;
                color: $clr-txt-primary;
            }

            &-extra {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                color: $clr-txt-secondary;
            }

            &-date {
                display: flex;
                gap: 0.7rem;
            }

            &-rating {
                display: flex;
                gap: 0.3rem;
                align-items: flex-end;

                .rating-star {
                    font-size: 0.9rem;
                    align-self: center;
                }
            }
        }
    }
}
