* {
    /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.App {
    background-color: #212529;
}

.Main {
    position: absolute;
    margin-top: 1rem;
    left: 0;
    height: 50vh;
    width: 100vw;
    color: #fff;
    background: #aaa;
}

.Main {
    position: absolute;
    margin-top: 5rem;
    left: 0;
    height: 50vh;
    color: #fff;
    background-color: #212529;
}

.Main .gallery img {
    width: 150px;
    height: 275px;
}

.Main .gallery img:hover,
.Main .gallery img:active {
    transform: scale(1.5, 1.5);
}

.SignUp,
.Login {
    width: 50%;
    margin: 2rem auto;
    color: #fff;
    background-color: #212529;
}

.SignUp > h1,
.Login > h1,
.Login > h2,
.SignUp > h2 {
    text-align: center;
    color: #dc3545;
}

.SignUp .button,
.Login .button {
    width: 100%;
}

/*
 
   __  __                _ 
  |  \/  | __ ___      _(_)
  | |\/| |/ _` \ \ /\ / / |
  | |  | | (_| |\ V  V /| |
  |_|  |_|\__,_| \_/\_/ |_|
                           
 
*/
#Main {
    /* outline: 2px solid red; */
    position: relative;
    height: 350px;
}

#Main h1 {
    color: #fff;
}

#Main-section {
    background: #000;
    overflow: hidden;
}

#Movie li {
    color: #fff;
    list-style: none;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: #212529;
    cursor: pointer;
    transition: transform 450ms;
}

#Movie li:hover {
    background: red;
}

#Movie img {
    width: 200px;
    height: 220px;
}

#Category {
    display: flex;
    gap: 10px;
}

#left-arrow,
#right-arrow {
    font-size: 30px;
    width: 35px;
    height: 75px;
    /* border: 1px solid red; */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #777;

    position: absolute;
    top: 45%;

    cursor: pointer;
}

#right-arrow {
    right: 0;
}
