@use "./utils/" as *;

// RESET:

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: $clr-bg-dark;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-txt-primary;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// GENERAL STYLE:

.nav__link:hover {
    color: $clr-primary !important;
}

.banner__info-container,
.movie__rows,
.footer,
.nav,
.movie__shelf-heading {
    max-width: 1440px;
    margin: auto;
}

.main__container {
    margin-top: 17vh;
}

.home {
    .main__container {
        margin-top: 5vh;
    }
}

.icon-star {
    color: $clr-primary;
}
